@import 'variables';

.cabecera{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	height: 70px;
	background-color: black;
	.cabecera__boton{
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $color1;
		width: 180px;
		height: 55px;
		margin-left: 6%; /*revisar*/
		transition: 0.3s all;
		.cabecera__boton-simbolo{
			font-size: 28px;
			margin-right: 20px;
			font-family: simbol1, simbol2, simbol3, simbol4;
			animation-name: "rotacion";
			animation-timing-function: linear;
			animation-duration: 2s;
			animation-iteration-count: infinite;
			transition: 0.3s all;
		}
		.cabecera__boton-titulo{
			font-family: $font-primaria;
			font-size: 36px;
			letter-spacing: 2px;
			transition: 0.3s all;
		}
	}

	@keyframes rotacion {
		from{
			transform: rotate(0deg);
		}
		to{
			transform: rotate(360deg);
		}
	}

	@keyframes rotacion-stop{
		from{
			transform: rotate(0deg);
		}
		to{
			transform: rotate(360deg);
		}
	}

	.cabecera__boton:hover{
		background-color: $color3;
		.cabecera__boton-simbolo{
			color: white;
			transform: scale(1.1);
			animation-name: rotacion-stop;
			animation-timing-function: linear;
			animation-duration: 0.5s;
			animation-iteration-count: 1;
		}
		.cabecera__boton-titulo{
			color: white;
			transform: scale(1.1);
		}
	}

	.cabecera__nav{
		width: 340px;
		height: 30px;
		margin-right: 5%;
		.cabecera__nav-lista{
			height: 100%;
			display: flex;
			align-items: stretch;
			justify-content: space-between;
			flex-wrap: wrap;
			.nav__li{
				display: flex;
				justify-content: center;
				align-items: center;
				flex-grow: 1;
				list-style: none;
				.nav__a{
					color: white;
					text-decoration: none;
					font-family: $font-primaria;
					font-size: 22px;
					letter-spacing: 1px;
					transition: 0.3s transform;
				}
				.nav__a:hover{
					color: $color1;
					transform: scale(1.3);
				}
			}
			
		}
	}
}

.titulo{
	display: flex;
	justify-content: center;
	margin-top: 18px;
	.titulo__caja{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 88%;
		height: 90px;
		border: 7px solid white;
		background-image: url(../img/bakbaner.png);
		background-position-x: -130px;
		background-position-y: -160px;
		box-shadow: 0px 0px 2px gray;
	}
	.titulo__caja-h1{
		color: white;
		font-size: 45px;
		font-family: $font-primaria;
		letter-spacing: 2px;
		font-weight: normal;
		animation-name: titulo__caja-andante;
		animation-duration: 3s;
		animation-iteration-count: 1;
		animation-timing-function: linear;
	}

	@keyframes titulo__caja-andante {
		from{
			color: transparent;
			transform: scale(0);
		}

		to{
			color: white;
		}
	}
}

.card{
	display: flex;
	justify-content: center;
	margin-top: 50px;
	.card__contenedor{
		display: flex;
		justify-content: space-around;
		width: 88%;
		flex-wrap: wrap;
		.card__contenedor-tarjetas{
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			flex-wrap: wrap;
			overflow: hidden;
			height: 280px;
			flex-basis: 17.5%;
			box-shadow: 0px 0px 2px gray, 1px 1px 3px rgb(165, 165, 165);
			background-color: white;
			transition: 0.3s all;
			.card__tarjetas-simbolo{
				font-family: simbol1, simbol2, simbol3, simbol4;
				margin-bottom: 20px;
				font-size: 40px;
				transition: 0.5s all;
			}
			.card__tarjetas-titulo{
				font-family: $font-secudaria;
				color: $color2;
				margin-bottom: 20px;
				padding: 0px 5px 0px 5px;
				text-align: center;
				transition: 0.5s all;
			}
			.card__tarjetas-descipcion{
				font-family: $font-base;
				color: $color2;
				padding: 0px 10px 0px 10px;
				text-align: center;
				transition: 0.5s all;
			}


		}

		.card__contenedor-tarjetas:hover{
			background-color: black;
			.card__tarjetas-simbolo{
				color: $color1;
				animation-name: card__tarjetas-arriba;
				animation-timing-function: linear;
				animation-iteration-count: 1;
				animation-duration: 0.4s;
			}
			.card__tarjetas-titulo{
				color: $color1;
				animation-name: card__tarjetas-derecha;
				animation-timing-function: linear;
				animation-iteration-count: 1;
				animation-duration: 0.3s;
			}
			.card__tarjetas-descipcion{
				color: $color1;
				transform: scale(1.1);
				animation-name: card__tarjetas-abajo;
				animation-timing-function: linear;
				animation-iteration-count: 1;
				animation-duration: 0.3s;
			}
			@keyframes card__tarjetas-arriba {
				from{
					transform: translateY(-200px);
				}

				to{
					transform: translateY(0px);
				}
			}

			@keyframes card__tarjetas-derecha {
				from{
					transform: translateX(300px);
				}

				to{
					transform: translateX(0px);
				}
			}

			@keyframes card__tarjetas-abajo {
				from{
					transform: translateY(200px);
				}

				to{
					transform: translateY(0px);
				}
			}
		}	

	}
}